[Desktop Entry]
Version=1.0
Type=Application
Name=Unblock Internet Address
Icon=gtk-properties
Exec=/usr/local/share/apps/blockInternetAddressGui.sh
NoDisplay=false
Categories=System;
StartupNotify=true
Terminal=false
