[Desktop Entry]
Version=1.0
Type=Application
Name=Change Teachers Password
Icon=/usr/share/icons/gnome/48x48/actions/gtk-find.png
Exec=/usr/local/share/apps/changeTeacherPasswordGui.sh
NoDisplay=false
Categories=System;
StartupNotify=true
Terminal=false
