[Desktop Entry]
Version=1.0
Type=Application
Name=Internet On/Off
Icon=gtk-properties
Exec=/usr/local/share/apps/internetControlGui.sh
NoDisplay=false
Categories=System;
StartupNotify=true
Terminal=false
