[Desktop Entry]
Version=1.0
Type=Application
Name=System Check
Icon=emblem-default
Exec=/usr/local/share/apps/internetCheckGui.sh
NoDisplay=false
Categories=System;
StartupNotify=false
Terminal=false
