[Desktop Entry]
Version=1.0
Type=Application
Name=Set Internet Address
Icon=network-server
Exec=/usr/local/share/apps/setInternetIpAddressGui.sh
NoDisplay=false
Categories=System;
StartupNotify=true
Terminal=false
